<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width" />
        <title>Hello Spring Boot</title>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/cities}">Cities</a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/wheather-forecast}">Wheather Forecasts</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin: 10px">
            <div class="panel-heading">
                <h1 class="panel-title">Wheather Forecast</h1>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Day of week</th>
                            <th>ID<th>
                            <th>City<th>
                            <th>Min. Temp.</th>
                            <th>Max. Temp.</th>
                            <th>Moisture</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Time</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="forecast : ${forecasts}">
                            <td th:text="${forecast.myDayOfWeek}"></td>
                            <td th:text="${forecast.city.id}"></td>
                            <td th:text="${forecast.city.name}"></td>
                            <td th:text="${forecast.minTemperature}"></td>
                            <td th:text="${forecast.maxTemperature}"></td>
                            <td th:text="${forecast.moisture}"></td>
                            <td th:text="${forecast.latitude}"></td>
                            <td th:text="${forecast.longitude}"></td>
                            <td th:text="${forecast.time}"></td>
                            <td th:text="${forecast.description}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form class="form-inline" method="POST" th:object="${forecast}"th:action="@{/wheather-forecast}" style="margin:10px">
                <div class="form-group">
                    <input required type="text" class="form-control" placeholder="Day of Week" th:field="*{myDayOfWeek}"/>
                    <input required type="number" class="form-control" placeholder="Id City" th:field="*{city.id}"/>
                    <input required type="number" class="form-control" placeholder="Min. Temperature" th:field="*{minTemperature}"/>
                    <input required type="number" class="form-control" placeholder="Min. Temperature" th:field="*{maxTemperature}"/>
                    <input required type="number" class="form-control" placeholder="Moisture" th:field="*{moisture}"/>
                    <input required type="number" class="form-control" placeholder="Latitude" th:field="*{latitude}"/>
                    <input required type="number" class="form-control" placeholder="Longitude" th:field="*{longitude}"/>
                    <input required type="time" class="form-control" placeholder="Time" th:field="*{time}"/>
                    <input required type="text" class="form-control" placeholder="Description" th:field="*{description}"/>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </body>
</html>