<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width" />
        <title>Hello Spring Boot</title>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    </head>
    <body>
        <div class="panel panel-default" style="margin: 10px">
            <div class="panel-heading">
                <h1 class="panel-title">Wheather Forecast</h1>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Day of week</th>
                            <th>Min. Temperature</th>
                            <th>Max. Temperature</th>
                            <th>Moisture</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="forecast : ${forecasts}">
                            <td th:text="${forecast.id}"></td>
                            <td th:text="${forecast.dayOfWeek}"></td>
                            <td th:text="${forecast.minTemperature}"></td>
                            <td th:text="${forecast.maxTemperature}"></td>
                            <td th:text="${forecast.moisture}"></td>
                            <td th:text="${forecast.description}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form class="form-inline" method="POST" th:object="${forecast}"th:action="@{/wheather-forecast}" style="margin:10px">
                <div class="form-group">
                    <input type="week" class="form-control" placeholder="Day of Week" th:field="*{dayOfWeek}"/>
                    <input type="number" class="form-control" placeholder="Min. Temperature" th:field="*{minTemperature}"/>
                    <input type="number" class="form-control" placeholder="Min. Temperature" th:field="*{maxTemperature}"/>
                    <input type="number" class="form-control" placeholder="Moisture" th:field="*{moisture}"/>
                    <input type="text" class="form-control" placeholder="Description" th:field="*{description}"/>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </body>
</html>